/ content
%section#content
  .container_16
    .clearfix
      %section#mainContent.grid_10
        %article
          %h2 Welcome Message
          %h3 Lorem ipsum dolor sit amet consectetuer adipiscing elit Praesent vestibulum moles tie lacuseneane nonummy hendrerit mauris Phasellus portusce
          %h4 Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent
          %p Aenean nonummy hendrerit maurihasellus portsce suscipit varium sociis natoque penatibus et magnis dis parturienetontes nascetur ridiculus musulla dutusce feugiat malesuada odorbi nunc odio gravida at cursus nec luctus alorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accum san malesuada orci.
          %a.button{:href => "#"} Read More
        %article.last
          %h2 New Remodeling Rooms
          %h5 Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus musulla duis. Fuscecer feugiat malesuada odio. Morbi nunc odio, gravida at cursus nece luctus alorem. Maececnas tristique orci ac sem. Duis ultricies pharetra magna.
          %ul.img-list.clearfix
            %li
              %a{:href => "#"}
                = holder_tag "101x85"
            %li
              %a{:href => "#"}
                = holder_tag "101x85"
            %li
              %a{:href => "#"}
                = holder_tag "101x85"
            %li
              %a{:href => "#"}
                = holder_tag "101x85"
            %li
              %a{:href => "#"}
                = holder_tag "101x85"
            %li
              %a{:href => "#"}
                = holder_tag "101x85"
            %li
              %a{:href => "#"}
                = holder_tag "101x85"
            %li
              %a{:href => "#"}
                = holder_tag "101x85"
            %li
              %a{:href => "#"}
                = holder_tag "101x85"
          %a.button{:href => "#"} Leer más
      %aside.grid_6
        .prefix_1
          %article
            / .box
            .box
              %h2 5 Keys to Real Estate Sales Success
              %dl.accordion
                %dt
                  =image_tag "icon1.gif"
                  %a{:href => "#"} Prospecting
                %dd Orta augueimperdiet massa uslerisec felise lecm id lorem ipsum.
                %dt
                  =image_tag "icon2.gif"
                  %a{:href => "#"} Listing Appointments
                %dd Orta augueimperdiet massa uslerisec felise lecm id lorem ipsum.
                %dt
                  =image_tag "icon3.gif"
                  %a{:href => "#"} Open House
                %dd Orta augueimperdiet massa uslerisec felise lecm id lorem ipsum.
                %dt
                  =image_tag "icon4.gif"
                  %a{:href => "#"} Buyer's Appointment
                %dd Orta augueimperdiet massa uslerisec felise lecm id lorem ipsum.
                %dt
                  =image_tag "icon5.gif"
                  %a{:href => "#"} Thank You
                %dd Orta augueimperdiet massa uslerisec felise lecm id lorem ipsum.
            / /.box
          %article.last
            %h2 Encuentranos
            %p
              =image_tag "map.jpg"
            .wrapper
              %ul.list1.grid_3.alpha
                %li
                  %a{:href => "#"} North America
                %li
                  %a{:href => "#"} Europe
                %li
                  %a{:href => "#"} Latin America
              %ul.list1.grid_2.omega
                %li
                  %a{:href => "#"} Asia
                %li
                  %a{:href => "#"} Australia
                %li
                  %a{:href => "#"} Africa